$font-stack: Helvetica, sans-serif;
$primary-color:#380E0A;
$secondary-color:#FE948A;
$alternate-color:#BC1101;
$warning-color: #fcf8e3;
$success-color: #dff0d8;
$danger-color:#f2dede;

$template: original;
@mixin colors {
    @if $template == dark{
        background-color: #000;
        color: #fff;
    } @else if $template == bright {
        background-color: #fff;
        color: #000;
    } @else {
        background-color:$secondary-color;
        color: $primary-color;
    }
}

body{
    font: 100% $font-stack;
    background: $secondary-color;
    
    @include colors;
}

#box {
    background-color: $primary-color;
    color: $secondary-color;
    header{
        background-color: $secondary-color;
        h1{ background-color: $alternate-color;}
    }
    section{
        background-color: $secondary-color;
        h2{ background-color: $primary-color;}
    }
}

.button{
    background:$alternate-color;
    width: 200px;
    height: 30px;
    
    &:hover{
        background: $primary-color;
        color: $secondary-color;
    }
}

@mixin message($color){
    width: 300px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    background-color: ($color);
}

.warning{
    @include message($warning-color);
    /*background-color:$warning-color;*/
}

.success{
    @include message($success-color);
    /*background-color: $success-color*/
}

.danger{
    @include message($danger-color);
    /*background-color: $danger-color*/
}

li{
    height: 64px;
    width: 64px;
}
@each $icon in facebook, instagram, linkedn{
    .icn-#{$icon} {
        background: url(../img/icn-#{$icon}.png) no-repeat left top;
    }
}
