.contenitore{
    display: flex;
    /* justify-content: space-around; 
    max-width: 980px;*/
    height: 500px;
    margin: 0 auto 400px;
    border: 1px solid #6699cc;
    /* flex-direction: column; */
    /*flex-wrap: wrap;*/
    /* align-items: flex-end; */
}

.elemento {
    background-color: #6699cc;
    border: 1px solid #fff;
    font-size: 2em;
    color: #fff;
    padding: 0.5em;
    width:50%;
}
/*
.elementoA{
    flex-grow: 1;
}
.elementoB{
    flex-grow: 2;
}

.elementoC {
    flex-grow: 1;
}
*/