body {
  font: 100% Helvetica, sans-serif;
  background: #FE948A; }

#box {
  background-color: #380E0A; }
  #box header {
    background-color: #FE948A; }
    #box header h1 {
      background-color: #BC1101; }
  #box section {
    background-color: #FE948A; }
    #box section h2 {
      background-color: #380E0A; }

.button {
  background: #BC1101;
  width: 200px;
  height: 30px; }
  .button:hover {
    background: #380E0A;
    color: #FE948A; }

.warning, .success, .danger {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle; }

.warning {
  background-color: #fcf8e3; }

.success {
  background-color: #dff0d8; }

.danger {
  background-color: #f2dede; }
