body {
  font: 100% Helvetica, sans-serif;
  background: #FE948A;
  background-color: #FE948A;
  color: #380E0A; }

#box {
  background-color: #380E0A;
  color: #FE948A; }
  #box header {
    background-color: #FE948A; }
    #box header h1 {
      background-color: #BC1101; }
  #box section {
    background-color: #FE948A; }
    #box section h2 {
      background-color: #380E0A; }

.button {
  background: #BC1101;
  width: 200px;
  height: 30px; }
  .button:hover {
    background: #380E0A;
    color: #FE948A; }

.warning {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #fcf8e3;
  /*background-color:$warning-color;*/ }

.success {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #dff0d8;
  /*background-color: $success-color*/ }

.danger {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;
  background-color: #f2dede;
  /*background-color: $danger-color*/ }
